[api]
# get the CIDgravity token from https://app.cidgravity.com on the page [Settings][Others]
#
#
# for BOOST/LOTUS implementation (when set it supersedes tokenList)
# token = "CIDGRAVITY_MINER_API_TOKEN_HERE"

# for VENUS only
# tokenList = [
#    "CIDGRAVITY_FIRST_API_TOKEN",
#    "CIDGRAVITY_SECOND_API_TOKEN"
#    ]

[logging]
# log_file = "CIGGRAVITY_LOCATION/cidgravity_storage_connector.log"
# debug = false
