[api]
# Use only for BOST/LOTUS implementation
# token = "CIDGRAVITY_MINER_API_TOKEN_HERE"

# Use only for VENUS implementation
# tokenList = [
#    "CIDGRAVITY_FIRST_API_TOKEN",
#    "CIDGRAVITY_SECOND_API_TOKEN"
#    ]

[logging]
#log_file = "/var/log/lotus/cidgravity_storage_connector.log"
#debug = false
